*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #afcdd4, #43acc2);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  max-width: 100%;
  height: 150px;
}

.card {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 10px;
}

.card-text {
  margin-top: 0;
  margin-bottom: 10px;
}

.card {
  margin: 10px;
}

.input-search {
  height: 30px;
  min-width: 200px;
  font-size: medium;
  outline: none;
  margin: 10px 0 0 10px;
}
